.pantalla2 {
  background: linear-gradient(to bottom right, #732d91, #2ad1e3);
  color: #64ffe8;
  display: flex;
  flex-direction: column;
}

.contenido {
  text-align: center;
  padding: 20px;
  flex: 1;
}

.contenido h1 {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: bold;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  flex-wrap: wrap;
}

.feature {
  width: 300px;
  text-align: center;
}

.feature .icono {
  width: 60px;
  margin-bottom: 10px;
  filter: invert(63%) sepia(92%) saturate(194%) hue-rotate(118deg) brightness(92%) contrast(93%);
}

.feature h2 {
  margin: 10px 0;
  font-size: 16px;
  color: #64ffe8;
}

.feature p {
  font-size: 13px;
  line-height: 1.5;
  color: white;
  border: 2px solid #64ffe8;
  padding: 10px;
  border-radius: 4px;
}
