.facilidad-container {
  background: linear-gradient(to bottom, #9d4edd, #3c096c);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.icon {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.content {
  text-align: center;
  margin-top: 50px;
}

.content h1 {
  font-size: 32px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.cajitaTexto {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  font-size: 40px;
  display: inline-block;
  max-width: 90%;
}
.facil {
  margin-top: 100px;
}
.info-box p {
  font-size: 16px;
  line-height: 1.6;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 background-color: #49146e;
  padding-top: 20px;
  font-size: 14px;
  width: 103.1%;
  margin-left: -20px;
  margin-bottom: -20px;
  height: 200px;
  padding-top: 80px;
}

.footer .left  {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  position: relative;
  top: 35px;
}
.logo10 {
  margin-right: 10px;
}

.footer .right p {
  margin: 2px 0;
  font-size: 24px;
  margin-right:20px ;
  margin-top: 8px;
}
.loguin {
  width: 35px;
  margin-right: 10px;
  margin-top: -5px;
}